.subscription{
    width: 400px;
    padding: 7px 2px;
    margin-top: 20px;
}
.Subscribe{
    border-bottom: 0.8px solid #eaeaea;
}

@media screen and (max-width: 768px){
    .responsive-section{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 992px){
   
    .responsive-section>input{
        width: 100%;
    }
}