.Color-Apple{
    color:#e4274aad
}
.cardHover:Hover{
    box-shadow: -1px 3px 109px -66px rgba(228,39,74,0.93);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.cardHover{
    height:350px;
}
.loading-animation{
    border: 1px solid lightgrey;
    height: 250px;
}
.text-animation,
.image-box{
      height:15px;
    margin: 10px;
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
}
.loading-animation div:nth-child(1){
    height:120px;
    width: 80%;
}
.loading-animation div:nth-child(2){
    width: 20%;
}
.loading-animation div:nth-child(3){
    width: 80%;
}
.loading-animation div:nth-child(4){
    width: 80%;
}

@keyframes pulse {
    0%{background-color: rgba(165,165,165,0.1);}
    50%{background-color: rgba(165,165,165,0.3);}
    100%{background-color: rgba(165,165,165,0.1);}
}
@-webkit-keyframes pulse{
   0%{background-color: rgba(165,165,165,0.1);}
    50%{background-color: rgba(165,165,165,0.3);}
    100%{background-color: rgba(165,165,165,0.1);} 
}

@media screen and (max-width:768px){
    .cardHover{
    height:375px;
}
}