@font-face {
  font-family: gerogia;
  src: url('./Fonts/Georgia\ Regular\ font.woff');
}
@font-face {
  font-family: block;
  src: url('./Fonts/Block.woff');
}

body {
  margin: 0;
  background-color:rgba(195, 214, 233,0.5);
  font-family: -apple-system, BlinkMacSystemFont,'gerogia', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
